@model AccountType

{
    ViewData["Title"] = "Borrar tipo cuenta";
}

<h3 class="mb-3">Estas seguro que deseas borrar el tipo cuenta @Model.Name</h3>
<form asp-action="DeleteAccountType">
    <input type="hidden" asp-for="AccountTypeId"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>